td, th{
    vertical-align: middle !important;
}
.btn-secondary {
    color: #fff !important;
}

.add_plan {
    color: #28a745 !important;
    font-weight: 700;
    cursor: pointer;
}

.alert-success {
    color: #155724 !important;
    background-color: #d4edda !important;
    border-color: #c3e6cb !important;
    font-weight: 500 !important;
}

.alert-danger {
    color: #721c24 !important;
    background-color: #f8d7da !important;
    border-color: #f5c6cb !important;
}

.text-danger {
    color: #a94442 !important;
}

.danger{
    background-color: #f2dede;
}

.text-success {
    color: #3c763d !important;
}

.success{
    background-color: #dff0d8;
}

.btn-warning {
    color: #fff !important;
    background-color: #f0ad4e !important;
    border-color: #eea236 !important;
}

.btn-warning:hover {
    background-color: #ec971f !important;
    border-color: #d58512 !important;
}

.alert-info {
    color: #0c5460 !important;
    background-color: #d1ecf1 !important;
    border-color: #bee5eb !important;
}
.alert-secondary {
    color: #383d41 !important;
    background-color: #e2e3e5 !important;
    border-color: #d6d8db !important;
}

.btn-primary {
    background-color: #337ab7 !important;
    border-color: #2e6da4 !important;
}

.btn-primary:hover {
    background-color: #286090 !important;
    border-color: #204d74 !important;
}

.btn-success {
    background-color: #5cb85c !important;
    border-color: #4cae4c !important;
}

.btn-success:hover {
    background-color: #449d44 !important;
    border-color: #398439 !important;
}